In [10]:
import pandas as pd

left_list=[]
right_list=[]
with open('day1input.txt', 'r') as f:
    for x in f:
        #kek
        left_list.append(int(x[0:5]))
        right_list.append(int(x[8:13]))
    f.close()
    left_list.sort()
    right_list.sort()

pd.DataFrame(zip(left_list,right_list),columns=['left','right'])

      left  right
0    10058  10017
1    10076  10170
2    10094  10207
3    10126  10266
4    10231  10375
..     ...    ...
995  99063  99384
996  99249  99504
997  99720  99708
998  99853  99783
999  99956  99809

[1000 rows x 2 columns]

In [7]:
total=0
for element_r,element_l in zip(right_list,left_list):
    distance=abs(int(element_r)-int(element_l))
    #print(f"left element : {element_l} right element: {element_r}")
    #print(f"added distance : {distance} to total : {total}")
    total+=distance
    #print(f"New total : {total}")
    
print("total_distance (p1) is : ",total)

total_distance (p1) is :  2769675

In [5]:
simosaliraty_score=0
for el in left_list:
    simosaliraty_score+=right_list.count(el)*el

print("simosaliraty_score (p2) is : ",simosaliraty_score)

simosaliraty_score (p2) is :  24643097